# No files without extension...
*
!/**/
!*.*

# ...except for the makefile
!Makefile

# OS files
.DS_Store
._*
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Temporary files
.~*

# Text editor folder
.vscode/
